body{
	/*background: purple;*/
}

.nav-header{
	/*position: fixed;*/
	/*top: 0px;
	left: 0px;
	right:0px;*/
}

h1{
	display: inline-block;
	color: #404047;
	font-family: fantasy;
	font-size: 2.3rem; 
	padding-left: 2rem; 
	padding-top: 1em; 
	padding-bottom: .7em; 
	padding-right: 2rem; 
}

.nav-header .cart img{
	height: 2rem;
	width:2em;
	display: inline-block;
	position:absolute;
	right:13rem;
	top:2.1rem;
}

.cart p{
	display: inline-block;
	font-family: fantasy; 
	font-size: 1rem;
	color: #404047;
	position: absolute;
	right:8rem;
	top:3rem;
}
div.cart {
	text-align: right;
	display: inline-block; 
}

footer{
	background-color: black; 
	color: white;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem; 
}

footer h4{
	color: orange;
	font-size:1rem;
	text-align: center; 
	padding-bottom: 1.5rem; 

}

footer img{
	display: inline-block;
	height: 1rem; 
	width: 1.2rem;
	margin-left: 43%;
	margin-right: 1.2rem; 
	padding-bottom: .4rem
}

footer p{
	display: inline-block;
	font-size: .8rem; 
	vertical-align: middle; 
	padding-bottom: 1rem; 
}

.products{
	width:100%;
	background-color: #FAFBFF;
}

.products h3{
	text-align: center; 
	font-family: fantasy;
	color:#404047;
	padding-bottom: .5rem; 
	font-style: italic;
	padding-top: 1rem; 
}

.products .product-selection{
	border-width: .14rem; 
	border-color:#AFAFB7;
	border-style:solid;
	padding-left: 8rem;
	padding-bottom:3rem;
}

.axeProduct{
    display: inline-block;
    position: relative;
    margin-right: 3rem;
    margin-top: 3rem;

}
.axeProduct img{
    width: 21rem;
    height: 17rem;
}
.axeProduct figcaption{
	width: 21rem;
    font-family: "Gill Sans","Gill Sans MT",Calibri,sans-serif;
    height: 2rem;
    font-size: 1.2rem;
    background-color: #404047;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding-top: .3rem;
    font-weight: bold;
}
.axeProduct .price{
	position: absolute;
    top: 29px;
    right: 0px;
    border-style: double;
    border-width: .19em;
    background-color: white;
    border-color: black;
    font-size: 1rem;
    padding-left: .7rem;
    padding-right: .7rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
}
.axeProduct .cta{
	background-color: black;
    width: 21rem;
    height: 2.5rem;
    position: relative;
}
.axeProduct input{
    background-color: gold;
    position: absolute;
    color: black;
    width: 18rem;
    height: 1.6rem;
    font-size: 1.1rem;
    top: .5rem;
    left: 1.5rem;
}

.product-page-nav{
	margin-top: 5rem;
	margin-bottom: 2rem;
	text-align: center;
}

.product-page-nav ul{
	
}
.marquee{
	width: 100%;
}
.marquee .mainPicture{
	text-align: center; 
	/*margin-left: 10em; */
}
.mainPicture img{
	opacity: .7; 
	width:85%;
	height: 20rem;
}

.tagLine{
	color:white;
	font-size: 2.3rem; 
	background-color:#404047; 
	padding-top: 3rem; 
	padding-bottom: 3rem;
	width: 100%;
	font-family: fantasy;
	text-align: center; 
}

h3{
	text-align: center; 
	font-family: fantasy;
	color:#404047;
	font-variant: italic; 
	padding-top: 1rem; 
	padding-bottom: 1rem; 
}
