body{
	/*background: purple;*/
}

.nav-header{
	/*position: fixed;*/
	/*top: 0px;
	left: 0px;
	right:0px;*/
}

h1{
	display: inline-block;
	color: #404047;
	font-family: fantasy;
	font-size: 2.3rem; 
	padding-left: 2rem; 
	padding-top: 1em; 
	padding-bottom: 1em; 
	padding-right: 2rem; 
}

.nav-header>img{
	height: 3em;
	width:3em;
	display: inline-block;
	/*text-align: right;*/
}

.cart p{
	display: inline-block;
	font-family: fantasy; 
	font-size: 1rem;
	color: #404047;
}
.cart {
	text-align: right; 
}

footer{
	background-color: black; 
	text-align: center;
	color: white;
}

footer h4{
	color: orange;
	font-size:2rem;
}

footer img{
	display: inline-block;
	height: 2rem; 
	width: 2rem;
}
footer p{
	display: inline-block;
}

.products{
	width:100%;
	background-color: #FAFBFF;
	border-width: 2em; 
	border-color:#062DCB; 
}

.product-selection{
	height: 25em;
	border-width: 2em; 
	border-color:#062DCB;
}

.product-page-nav{
	height: 10em;
	border-width: 2em; 
	border-color:#062DCB;
}

.marquee{
	width: 100%;
}
.marquee .mainPicture{
	text-align: center; 
	/*margin-left: 10em; */
}
.mainPicture img{
	opacity: .7; 
	width:85%;
	height: 20rem;
}

.tagLine{
	color:white;
	font-size: 2.3rem; 
	background-color:#404047; 
	padding-top: 3rem; 
	padding-bottom: 3rem;
	width: 100%;
	font-family: fantasy;
	text-align: center; 
}
