body{
	background: purple;
}

.nav-header{
	position: fixed;
	top: 0px;
	left: 0px;
	right:0px;
}
h1{
	display: inline-block;
}
.nav-header>img{
	height: 3em;
	width:3em;
	display: inline-block;
	text-align: right;
}